table th{
    text-align:center;
}

td {
    text-align: center!important;
}

.btnGoBack {
    background-color: #C9A55F;
    color: white;
}

    .btnGoBack:hover {
        background-color: #c99c5f;
        color: black;
    }

.btnCancel {
    background-color: #F4F4F1;
    color: black;
}

    .btnCancel:hover {
        background-color: #e9e7e3;
    }


.btnLogout {
    background-color: #4C5152;
    color: white;
}

    .btnLogout:hover {
        background-color: #656b6c;
    }