@model List<string>

<div class="overflow-auto" style="margin: auto 0; padding-bottom: 2rem;">
    <h1 style="margin: 20px 0px 0px 20px;">Books Genres</h1>

    <br />
    <div class="container">
        <div class="row  g-4">


            @foreach (var genre in Model)
            {
                <a class="col-md-4 col-sm-6 col-lg-3 text-decoration-none text-black" 
                asp-route-genre="@genre" asp-controller="Book" asp-action="BooksByGenre">

                    <div class="card w-100 h-100 collectionCard">
                        <div class="card-body" style="text-align: center;">
                            <p class="card-text" style="margin: 1rem 0; font-weight:500;">@genre</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

</div>


